html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.btn {
    min-width: 48px;
    min-height: 48px;
    font-size:1.5em;
    cursor:pointer;
    background: inherit;
    border: inherit;
}

.closebtn {
    margin-left: 220px;
    font-size: 2em;
}

.sidebar {
    width: 0px;
    float: left;
    position: absolute;
    overflow: hidden;
}

.search {
    padding: 10px;
    display: flex;
}

.search input {
    width: 100%;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    padding: 5px 10px;
}

#map {
    height: calc(100% - 48px);
    transition: margin-left .5s;
}
